<!-- Modal -->
<div class="modal fade" id="addTechnology" tabindex="-1" role="dialog" aria-labelledby="addTechnologyModal"
    aria-hidden="true" (click)="status=null">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="addTechnologyModal">Agregar nueva tecnología</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form #technologyForm="ngForm" (ngSubmit)="onSave(technologyForm)" class="col-lg-12">
                <div *ngIf="status == 'success'" class="alert alert-success mb-0 mt-2" role="alert">
                    Se guardo correctamente la nueva tecnologìa
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div *ngIf="status == 'error'" class="alert alert-danger mb-0 mt-2" role="alert">
                    No se pudo guardar la nueva tecnologìa. Es posible que ya exista.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>



                <div class="modal-body">
                    <div class="form-group row">
                        <label for="inputName" class="col-sm-4 col-form-label">Nombre</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputName" name="name" #name="ngModel"
                                [(ngModel)]="technology.name">
                        </div>
                    </div>

                    <fieldset class="form-group mb-0">
                        <div class="row">
                            <legend class="col-sm-4 col-form-label pt-0">Categoría</legend>
                            <div class="col-sm-8">
                                <div *ngFor="let item of categories,let i = index" class="form-check">
                                    <input class="form-check-input" type="radio" name="category" id="{{item+i}}"
                                        value="{{item}}" #category="ngModel" [(ngModel)]="technology.category"
                                        (change)="otherOption = false">
                                    <label class="form-check-label" for="{{item+i}}">
                                        {{item}}
                                    </label>
                                </div>

                                <div *ngIf="categories.length != 0" class="form-check disabled">
                                    <input class="form-check-input" type="radio" name="category" id="gridRadios3"
                                        value="option3" checked
                                        (change)="otherOption = true; technology.category = null ">

                                    <label class="form-check-label" for="gridRadios3">
                                        Otra
                                    </label>
                                </div>

                                <div *ngIf="otherOption" class="form-group row mt-1 mb-0">
                                    <div class="col-sm-12 ">
                                        <input type="text" class="form-control" id="inputName" name="category"
                                            #category="ngModel" [(ngModel)]="technology.category">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </fieldset>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <input type="submit" value="Guardar" class="btn btn-primary">

                </div>

            </form>
        </div>

    </div>
</div>
<!-- /Modal -->


<div class="container mt-4">
    <div class="card">
        <div class="card-header text-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTechnology">
                Agregar tecnología
            </button>
        </div>
        <div class="card-body">


            <div class="row">

                <div class="col-sm-12 mb-4">
                    <div class="card">

                        <div class="card-body">

                            <div class="row">
                                <div class="col-3">
                                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                        aria-orientation="vertical">
                                        <a *ngFor="let item of categories, let ix = index" class="nav-link"
                                            [ngClass]="{'active': ix === 0}" id="v-pills-{{item}}-tab"
                                            data-toggle="pill" href="#v-pills-{{item}}" role="tab"
                                            aria-controls="v-pills-Backend" aria-selected="true"
                                            (click)="selected = item">{{item}}</a>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div *ngFor="let item of categories, let ix = index" class="tab-content"
                                        id="v-pills-tabContent">

                                        <div *ngIf="selected === item" class="tab-pane fade show active"
                                            id="v-pills-{{item}}" role="tabpanel" aria-labelledby="v-pills-Backend-tab">

                                            <table class="table text-center">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th>Tecnología</th>
                                                        <th>Opciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let technology of technologies">
                                                        <td *ngIf="selected == technology.category">{{technology.name}}
                                                        </td>
                                                        <td *ngIf="selected == technology.category">
                                                            <a class="btn btn-danger  btn-sm ml-1 text-light" (click)="deleteTechnology(technology._id)">Eliminar</a>
                                                        </td>


                                                    </tr>
                                                    <tr></tr>

                                                </tbody>
                                            </table>

                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>